*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Playfair Display';
    box-sizing: border-box;
}
header{
    width: 100%;
    text-align: center;
    font-size: 28px;
    top: 0;
    height: fit-content;
    padding: 8px;
    background-color: gold;
}
.btnContainer{
    z-index: 1;
    width: 100%;
    background-color: aliceblue;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
h3{
    margin: 10px;
}
p{
    margin: 10px;
}

.note{
    padding: 20px;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 5px 5px grey;
    cursor: pointer;
    transition: all ease-in-out 2s;
}

.note:hover{
    box-shadow: 4px 10px 10px grey;
}

footer{
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: gold;
}

#addItems{
    color: black;
    background-color: gold;
    border: 2px solid gold;
    width: 100px;
    border-radius: 10px;
    height: 35px;
    cursor: pointer;
}

#addItems:focus{
    border: 2px solid gold;
}

#addItems:active{
    color: aliceblue;
}

#addItems:hover{
    box-shadow: 3px 5px 5px grey;
    transition: all ease-in-out 0.01s;
}

dialog{
    background-color: aliceblue;
    border: 2px solid gold;
    padding: 10px;
    justify-self: center;
    align-self: center;
/*     position: relative; */
    left: 35%;
    top: 20%;
    text-align: center;
    border-radius: 10px;
}
svg{
    justify-self: flex-end;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
}
.buttoned{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
    gap: 10px;
}

.btns{
        color: black;
    background-color: gold;
    border: none;
    width: 90px;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
}



input{
    padding: 5px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
}
input:focus{
    outline-color: gold;
}
dialog::backdrop{
    backdrop-filter: blur(5px);
}
textarea{
    max-width: 250px;
    max-height: 300px;
}
textarea:focus{
    outline-color: gold;
}
button{
    background-color: white;
    border: none;
}

@media (max-width: 410px){
    dialog{
        left: -10%;
        position: relative;
    }
    #secondDialogText{
        left: -4%;
    }
}

@media (max-width: 720px){
    dialog{
        left: 10%;
        position: relative;
    }
}
